# MinGW files
*.slo
*.lo
*.o
MinGW

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#VS/Windows files
*.sdf
*.user
*.sdf
*.suo
*.opensdf
*.dll
*.exe
.sconsign.dblite
Debug
Release
